@import '/css/variables.css';

html {
    background-color: var(--bg-color);
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--font-color);
	margin: 0;
}

.banner {
	background-color: var(--bg-color-alternate);
	padding: 0;
	width: 100%;
}

.content {
	margin: 0.5rem;
	padding-top: 0;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

.banner .content {
	background-color: var(--bg-color-alternate);
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.6;
}

#open-settings {
	padding: 0.5rem;
	color: var(--font-color-navbar);
	background-color: var(--primary-color);
	border: 1px solid transparent;
	border-radius: 4px;
	margin-top: 0;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
}

.svg-icon-regular {
	display: inline-flex;
	align-self: center;
}

.svg-icon-regular svg {
	height: 1.2rem;
	width: 1.2rem;
	fill: var(--font-color-navbar);
}

.search-info {
	font-style: italic;
}

#search-input {
	border-radius: 25px;
	border: 5px solid var(--bg-color-alternate);
	background-color: var(--bg-color-alternate);
	padding: 20px;
	height: 15px;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	color: var(--font-color);
}

#search-input::placeholder {
	color: var(--font-color);
}

#not-found {
	display: none;
	font-weight: 600;
}

#search-results {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#search-results li a {
	display: block;
	text-decoration: none;
	font-size: 1rem;
	border: 1px solid var(--bg-color-alternate);
	margin-top: -1px;
	padding: 1rem;
}

#search-results li a:hover:not(.header) {
	background-color: var(--bg-color-alternate);
}

#save-error {
	display: none;
	color: var(--font-color-error);
	font-weight: 600;
}
