body {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
}

#tab_container .container_item {
  display: none;
}

#tab_container .container_item.is-active {
  display: block;
}

.field, article {
  margin-top: 2em;
}

.modal-card-body p {
  margin-top: 2em;
}

.select-label {
  display: block;
  margin-bottom: 0.5em;
}

.disabled-item {
  opacity: 0.65;
}
