body {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
}

#tab_container .container_item {
  display: none;
}

#tab_container .container_item.is-active {
  display: block;
}

.field, article {
  margin-top: 1.5em;
}

.modal-card-body p {
  margin-top: 2em;
}

.divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

.select-label {
  display: block;
  margin-bottom: 0.5em;
}

.disabled-item {
  opacity: 0.65;
}

.tabs.is-small-medium{
  font-size: 1rem
}

.release {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.release-notes ul, li {
  margin-left: 0.75em;
  list-style: disc;
  font-size: 0.90rem
}

.tab-icon {
  font-size: 1.4rem;
  margin-right: 0.2em !important;
}
